h1{
  font-size: 25px;
}

#header {
  background-color: rgb(32, 32, 32);
}

#header__title {
  display: flex;
  margin-left: 15px;
  align-items: center;
}

#header__title img {
  width: 40px;
  object-fit: contain;
  margin-right: 15px;
}
