#left {
  padding-top: 20px;
  display: flex;
  overflow-x: scroll;
}

#center {
  height: 80vh;
}

#right {
  border-top: 1px solid white;
}

#right h1 {
  margin-left: 20px;
  /* margin-bottom: 100px; */
}

#right #country__graphs {
  width: 90vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
